---
import "../styles/global.css";
// import config from "../config.ts";
import config from "../config";
import Layout from "@/layouts/main.astro";

let HomepageContent = null;

if (config.homepage?.trim()) {
	try {
		HomepageContent = (
			await import(`./Module-${config.homepage}/index.astro`)
		).default;
	} catch (error) {
		console.error("Error in loading homepage");
	}
}
---

<Layout content={{ title: "Home" }}>
	{
		!HomepageContent ? (
			<div>Showing default homepage</div>
		) : (
			<HomepageContent />
		)
	}
</Layout>
